<div class="text">
  <h3>Rick And Morty API</h3>
</div>
<div class="card bg-dark col-md-9 m-auto mt-5 mb-2">
  <h5 class="card-header"><font color ="#4cff8f">Get</font> <font color ="#abb2bf"> https://rickandmortyapi.com/api</font></h5>
  <div class="card-body">
    <span>[</span>
    <h5 class="card-title"><font color="#ff79c6">"characters"</font><span>:</span><font color ="#4cff8f"> https://rickandmortyapi.com/api/character,</font>,</h5>
    <br>
    <h5 class="card-text"> <font color="#ff79c6">"locations"</font><span>:</span><font color ="#4cff8f"> https://rickandmortyapi.com/api/location,</font>,</h5>
    <br>
    <h5 class="card-text"> <font color="#ff79c6">"episodes"</font><span>:</span><font color ="#4cff8f"> https://rickandmortyapi.com/api/episode</font></h5>
    <span>]</span>
  </div>
</div>